---
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button.tsx";
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);
---

<div class="hs-tooltip [--trigger:click] [--placement:bottom] inline-block">
  <button aria-label="open modal buka toko" type="button" class="hs-tooltip-toggle flex justify-center items-center w-24 h-12 text-sm font-semibold rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
    <Image class="w-10 rounded-full mr-1" src={session.user?.image} alt={session.user?.name} loading="lazy" width={100} height={100} />
    <p class="line-clamp-1 text-sm w-16">{session.user.name}</p>
  </button>
  <div class="hs-tooltip-content w-1/2 hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-3 px-4 bg-white border text-sm text-gray-600 rounded-lg shadow-md" role="tooltip">
    <div class="flex justify-start items-center bg-white shadow-md p-2 rounded-lg">
      <Image class="w-16 rounded-full mr-2" src={session.user?.image} alt={session.user?.name} loading="lazy" width={300} height={300} />
      <h3 class="text-lg font-semibold ">{session.user.name}</h3>
    </div>
    <div class="flex justify-start items-center space-x-5">
      <Image class="w-12" src="/assets/icon/gratis-ongkir.png" alt="plus ongkir" loading="lazy" width={100} height={100} />
      <article class="text-sm">
        <p class="font-semibold">Nikmatin Bebas Ongkir tanpa batas!</p>
        <p class="text-slate-500 text-xs">Min. belanja Rp0, bebas biaya aplikasi~</p>
      </article>
    </div>
  </div>
</div>