---
import { Image } from "astro:assets";

import Layout from '@/layouts/Layout.astro';
import Container from "@/components/main-components/Container.astro";
import { getAllProducts } from "@/lib/api.ts";
import type { AllProductTypes } from "@/types.d.ts";

import { TestCarousel } from "@/features/product/ProductCarousel.tsx";

import ProductLists from "@/features/product/ProductsLists.tsx";
import CardProduct from "@/features/product/card-product.tsx";
import { CardByCategory } from "@/components/card-product.tsx"

import LandingPage from "@/assets/images/landing_page.jpg";




const products = await getAllProducts();
---

<Layout>
  <div class="z-20 mt-16 p-2">
    <Image class="w-full h-full aspect-video object-cover rounded-xl" src={LandingPage} alt="photo" width={1600} height={600} />
  </div>
	<Container class="max-w-full">
	  <div class="w-full flex justify-between items-center">
	    <h2 class="font-SatoshiBold sm:text-2xl">Shop By Category</h2>
	    <a class="font-SatoshiLight hover:underline underline-offset-4 sm:text-xl " href="/">See All</a>
	  </div>
	  <div class="grid grid-cols-2 gap-4 mt-4 sm:grid-cols-3">
	    <CardByCategory src="/assets/images/Furniture.png" title="Furniture" client:load />
	    <CardByCategory src="/assets/images/handbag.png" title="HandBag" client:load />
	    <CardByCategory src="/assets/images/books.png" title="Books" client:load />
	    <CardByCategory src="/assets/images/tech.png" title="Tech" client:load />
	    <CardByCategory src="/assets/images/sneakers.png" title="Sneakers" client:load />
	    <CardByCategory src="/assets/images/travel.png" title="Travel" client:load />
	  </div>
	</Container>
	<Container class="py-0 -mb-12">
	  <TestCarousel client:load initialScroll={0}>
      {products.slice(0, 7).map((item: AllProductTypes) => (
        <CardProduct
          id={item.id}
          discount={item.discountPercentage}
          name={item.title}
          price={item.price}
          rating={item.rating}
          className="w-40 sm:w-50"
        >
             <img
                alt={item.title}
                 class="w-full h-fit w-full aspect-square object-cover bg-gray-100"
                src={item.thumbnail}
                width="200"
                height="200"
                loading="lazy"
                transition:name={`index - ${item.id}`}
             />
        </CardProduct>
      ))}
    </TestCarousel>
	</Container>
	
	<Container class="px-0">
	  <ProductLists client:load />
	</Container>
</Layout>

