---
import { Image } from "astro:assets";
import Layout from '@/layouts/Layout.astro';
import Container from "@/components/main-components/Container.astro";

import { getSession } from 'auth-astro/server';
import { getAllProducts, getProductByCategory } from "@/lib/api.ts";

import CardProduct from "@/features/product/card-product.tsx";
import { CardByCategory } from "@/components/card/card-product.tsx"
import { Button } from "@/components/ui/button.tsx";

import LandingPage from "@/assets/images/landing_page.jpg"

const products = await getAllProducts();
// const productsCategory = await getProductByCategory()
const session = await getSession(Astro.request);

---

<Layout>
  <div class="relative z-20 mt-14">
    <Image class="w-full h-full aspect-video object-cover" src={LandingPage} alt="photo" width={1600} height={600} />
    <div class="absolute top-10 right-10 z-10 text-end text-white w-fit sm:top-20 sm:right-20">
      <h1 class="text-2xl font-SatoshiBold sm:text-4xl">New Collections</h1>
      <p class="w-64 sm:text-xl sm:w-full">sint proident occaecat laborum amet officia non</p>
      <Button className="mt-2 font-SatoshiMedium uppercase h-8 rounded-md px-3">Shop Now</Button>
    </div>
  </div>
	<Container class="max-w-full">
	  <div class="w-full flex justify-between items-center">
	    <h2 class="font-SatoshiBold sm:text-2xl">Shop By Category</h2>
	    <a class="font-SatoshiLight hover:underline underline-offset-4 sm:text-xl " href="/">See All</a>
	  </div>
	  <div class="grid grid-cols-2 gap-4 mt-4 sm:grid-cols-3">
	    <CardByCategory src="/assets/images/Furniture.png" title="Furniture" />
	    <CardByCategory src="/assets/images/handbag.png" title="HandBag" />
	    <CardByCategory src="/assets/images/books.png" title="Books" />
	    <CardByCategory src="/assets/images/tech.png" title="Tech" />
	    <CardByCategory src="/assets/images/sneakers.png" title="Sneakers" />
	    <CardByCategory src="/assets/images/travel.png" title="Travel" />
	  </div>
	</Container>
	<Container>
	  <div class="w-full flex justify-between items-center">
	    <h2 class="font-SatoshiBold sm:text-2xl">Todays Best Deals For You!</h2>
	    <a class="font-SatoshiLight hover:underline underline-offset-4 sm:text-xl " href="/">See All</a>
	  </div>
	  <div class="max-w-full w-full h-full flex flex-row overflow-x-scroll gap-4 mt-4 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-300 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-900">
	    {products.slice(0, 7).map(item => (
  	    <CardProduct
          id={item.id}
          image={item.images[0]}
          discount={item.discountPercentage}
          name={item.title}
          price={item.price}
          description={item.description}
          rating={item.rating}
          client:load 
        />
	    ))}
	  </div> 
	</Container>
</Layout>

